@page
@model Proyecto.Pages_Projects.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.EndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Project.ProjectID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
