@page
@model Proyecto.Pages_Projects.IndexModel

@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IndexData.ProjectsIndex)
        {
            string selectedRow = "";
            if (item.ProjectID == Model.ProjectId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ProjectID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ProjectID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ProjectID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ProjectID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.IndexData.TechniciansIndex != null)
{
    <h3>
        Technician in Selected Project
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
        </tr>
        @foreach (var item in Model.IndexData.TechniciansIndex)
        {
            string selectedRow ="";
            if (item.ID == Model.TechnicianId)
            {
                selectedRow = "table-success";
            }
            <tr class = "@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
            </tr>
        }
    </table>
}