@page
@model Proyecto.Pages.AllProjectsModel;

@{
    ViewData["Title"] = "All Projects";
}

<h1>Index</h1>

<form>
    <p><!--
        <select asp-for="postulado" asp-items="Model.Postulantes">
            <option value="">All</option>
        </select>
        -->
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].EndDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        
            <td>
                <a asp-page="./Description" asp-route-id="@item.Description">Description</a>
            </td>
        </tr>
}
    </tbody>
</table>
