@page
@model Proyecto.Pages.Roles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.RolDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RolDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role.level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.level.RolLvlDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Role.RoleId">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
