@page
@model Proyecto.Pages.Roles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Roles</h2>

<p>
    <a asp-page="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].RolDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Role) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RolDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level.RolLvlDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoleId">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.RoleId">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoleId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
