@page
@model Proyecto.Pages.RoleLevels.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleLevel[0].RolLevelDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoleLevel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RolLevelDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RolLevelID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RolLevelID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RolLevelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
