@page
@model Proyecto.Pages.TechnicianRoles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TechnicianRole</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicianRole.TecRolDsc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TechnicianRole.TecRolDsc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicianRole.TecRolLvl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TechnicianRole.TecRolLvl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TechnicianRole.TecRolId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
