@page
@model Proyecto.Pages_Technicians.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Technician</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Technician.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technician.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Technician.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technician.BirthDate)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Technician.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<hr />

@if (Model.Projects.Count()>0)
{
    <h4>Projects</h4>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>

        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                
            </tr>
        }
    </table>
}
