@page
@model Proyecto.Pages.HiringCosts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HiringCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.HiringCostHourly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.HiringCostHourly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.HiringCostAdditional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.HiringCostAdditional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.HiringCostFull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.HiringCostFull)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HiringCost.HiringCostID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
