@page
@model Proyecto.Pages.HiringCosts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HiringCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.Level.RolLevelDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.HiringCostHourly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.HiringCostHourly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.HiringCostAdditional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.HiringCostAdditional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HiringCost.HiringCostFull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HiringCost.HiringCostFull)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HiringCost.HiringCostID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
