@page
@model Proyecto.Pages.HiringCosts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HiringCost[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringCost[0].HiringCostHourly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringCost[0].HiringCostAdditional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringCost[0].HiringCostFull)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HiringCost) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Level.RolLevelDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringCostHourly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringCostAdditional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringCostFull)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HiringCostID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HiringCostID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HiringCostID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
