@page
@model Proyecto.Pages_Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.EndDate)
        </dd>
    </dl>
</div>

<div>
    @if(Model.Technician.Id != null)
    {
        string technicianToAddID = Model.Technician.Id;
        <a method="post" asp-page-handler="AddTechnician"
        asp-route-id="@Model.Project.ProjectID" asp-route-technicianToAddID="@technicianToAddID">
        <button class="btn btn-default">Add</button>
        </a>
    }
    <a asp-page="./Edit" asp-route-id="@Model.Project.ProjectID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
