@page
@model Proyecto.Pages_Projects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.ProjectID" />
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.StartDate" class="control-label"></label>
                <input asp-for="Project.StartDate" class="form-control" />
                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.EndDate" class="control-label"></label>
                <input asp-for="Project.EndDate" class="form-control" />
                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @if (Model.Technicians != null)
        {
            <h4>Technicians in this Project</h4>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Birth Data</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Technicians)
                {
                    string technicianToDeleteID = item.Id.ToString();
                    <tr>
                        <td>
                            <form method="post" asp-page-handler="DeleteTechnician"
                                asp-route-id="@Model.Project.ProjectID" asp-route-technicianToDeleteID="@technicianToDeleteID">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        
                    </tr>
                }
            </table>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-8">

        @if (Model.OtherTechnicians != null)
        {
            <h4>Other Technicians</h4>
            <form>
                <p>
                    Name: <input type="text" asp-for="SearchString" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Birth Data</th>
                    
                </tr>

                @foreach (var item in Model.OtherTechnicians)
                {
                    string technicianToAddID = item.Id.ToString();
                    <tr>
                        <td>
                            <form method="post" asp-page-handler="AddTechnician"
                                asp-route-id="@Model.Project.ProjectID" asp-route-technicianToAddID="@technicianToAddID">
                                <button class="btn btn-default">Add</button>
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        
                    </tr>
                }
            </table>
        }
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
